.categories{
    width: 100vw;
}

.categoriesList{
    background-color: aliceblue;
    color: #131415;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
}
.categoriesName{
    font-weight: 600;
}
@media (max-width:650px) {
    .categoriesName{
        font-size: 8px;
    }
}