.linkContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    background-color: white;
    flex-wrap: wrap;
}

.linkBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 22%;
    height: 30%;
    border: 1px solid rgba(192, 191, 191, 0.438);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: all 0.5s ease;
}
.linkBox:hover{
    background-color: rgba(224, 63, 0, 0.274);
}

.iconoLink{
    width: 4rem;
    padding: 5px;
    object-fit: cover;
}

.linkSpan{
    color: black;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease;
}
.linkSpan:hover{
    color: rgb(224, 63, 0);

}

@media(max-width:1200px){
    .linkBox{
        height: 30%;
    }
    .iconoLink{
        width: 2rem;
    }
    .linkSpan{
        font-size: 12px;
    }
    .linkContainer{
        height: 200px;
    }
}