.productsContainer{
    place-items: center;
    display: grid;
    width: 98%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;

}