.productsContainer{
    place-items: center;
    border-radius: 10px;
    display: grid;
    width: 98%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}